html, body {
    background-color: white;

    font-family: 'Staatliches', cursive;
    letter-spacing: 1px;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

h1 {
  padding-top: 10px;
  font-size: 7.0em;
  color: #353535;
}
h2 {
  font-size: 3.0em;
  color: #353535 ;
}
h3 {
  font-size: 2.5em;
}

h5 {
  font-size: 2.5em;
}
h6 {
  color: #09E85E;
}
padding-right: 2.5em;
#slika{
  padding-top: 2.5em;
  padding-left: 2.5em;
  padding-bottom: 2.5em;
}
a {
  text-decoration: none;
  color: white;
}
.header-text{
  color: #353535;
}

a:hover {
  color: #ff2a4a;
}
p {
  font-size: 1.5em;
}

.my-text-primary {
  font-size: 1.4em;
  color: #09E85E;
}

.background{
  background-color: #7353ba;
}

.my-bg-dark{
  background-color: #353535;
}
.my-bg-primary{
  background-color: #09E85E;
}
